*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: black;
}
body::-webkit-scrollbar{
  display: none;
}
.nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill,minmax(360px,1fr));
  margin-top: 20px;
  gap:20px
}
.items{
  padding:20px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  height:auto;
  object-fit: cover;
}
.items img{
  max-width: 100%;
  height:auto;
  object-fit: cover;
  display: inline-block;
  border-radius: 10px;
  border:2px solid rgb(243, 243, 240);
  transition:  0.5s ease;
}
.items img:hover{
  opacity: .95;
  /* box-shadow: 0,0,10px,white; */
  box-shadow: pink 0px 20px 30px -10px;
  transform: scale(1.1);
  cursor: pointer;
}
.img {
  align-items: center;
  display: flex;
  justify-content: center;
}
.img img{
  width:500px;
}